.main-restaurant {
    margin-top: 40px;

    &__title {
        font-weight: bold;
        font-size: 46px;
        line-height: 56px;
        margin-bottom: 20px;
    }

    &-filter {
        display: flex;

        &__title {
        }

        &__wrap {
            display: flex;
            justify-content: space-between;
            margin-bottom: 35px;
        }

        &__item {
            &:not(:last-child) {
                margin-right: 20px;
                color: #212121;
            }
        }

        &__link {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            transition: 0.3s color;

            &.active,
            &:hover {
                color: #ffb82e;
                border-bottom: 2px solid #ffb82e;
                padding-bottom: 5px;
                cursor: pointer;
            }
        }

        // SORT

        &-sort {
            display: flex;

            &-time {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 16px;
                position: relative;
                z-index: 99;

                &:not(:last-child) {
                    margin-right: 30px;
                }

                &__label {
                    margin-right: 10px;
                }

                &__value {
                    display: flex;
                    align-items: center;
                    color: #8a8894;
                    transition: 0.3s color;

                    &:hover {
                        color: #ffb82e;
                        cursor: pointer;
                    }

                    svg {
                        width: 10px;
                        height: 5px;
                        margin-left: 5px;
                        margin-top: 3px;
                    }
                }

                &__popup {
                    display: flex;
                    flex-direction: column;
                    width: 120px;
                    background: #fff;
                    position: absolute;
                    right: 0;
                    top: 30px;
                    border-radius: 3px;
                    font-weight: 500;
                    font-size: 14px;

                    box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.2);

                    span {
                        padding: 10px;
                        cursor: pointer;
                        color: #8a8894;
                        transition: 0.3s background-color, 0.3s color;

                        &:hover,
                        &.active {
                            // background-color: #ffb82e;
                            color: #000;
                        }

                        &:not(:last-child) {
                            border-bottom: 1px solid rgb(241, 241, 241);
                        }
                    }
                }

                &--icon {
                    display: flex;
                    align-items: center;

                    .main-restaurant-filter-sort-time__icon {
                        display: flex;
                        margin-right: 10px;
                    }
                    .main-restaurant-filter-sort-time__value {
                        color: #000;
                    }
                }
            }
        }
    }
}

.restaurants {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
    // display: flex;
    // flex-wrap: wrap;
    margin-top: 35px;
    // margin-left: -20px;
    // margin-top: -30px;

    &-item {
        // width: calc(25% - 20px);
        // margin-left: 20px;
        // margin-top: 30px;

        &-image {
            width: 100%;
            display: flex;
            margin-bottom: 15px;
            position: relative;

            img {
                width: 100%;
            }

            &__notice {
                position: absolute;
                top: 5px;
                left: 5px;
                background: rgba(0, 0, 0, 0.6);
                padding: 5px;
                color: #000;
                font-size: 13px;
                display: flex;
                border-radius: 3px;

                svg,
                path {
                    stroke: #fff;
                }
            }
        }

        &-info {
            &__title {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 15px;
            }

            &__list {
                display: flex;
            }

            &__item {
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                display: flex;
                align-items: center;

                &:not(:last-child) {
                    margin-right: 20px;
                }

                span {
                    margin-right: 6px;
                }

                &.rating {
                    color: #ffb82e;
                }
            }
        }
    }
}
