@import 'vendor/normalize';

body, html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.full-container {
    width: 1860px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    // background: teal;
}

.container {
    width: 1460px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* HEADER */
@import 'parts/_header';

/* MAIN */
@import 'parts/_main';

/* FOOTER */
@import 'parts/_footer';

/* RESUTARAUNT */
@import 'parts/_restaraunt';